*{
    margin: 0; 
    padding: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
    text-decoration:none;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: 'Montserrat','Lato';
    font-size: 10pt;
}
/* Navbar */

/* Main */
#main{
    margin-top: 8rem;
}

/* Content */
#content .container nav{
    width: 30%;
}

#content .container nav ul li {
    display: inline;
    list-style-type: none;
    padding-right: .5rem;
}