*{
    margin: 0; 
    padding: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
    text-decoration:none;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: 'Montserrat','Lato';
    font-size: 10pt;
}

/* Navbar */

/* Chart List */
#chart-list {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 300px;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

#chart-list.active {
    right: 0;
}

.chart-items {
    max-height: calc(100vh - 50px); /* Adjust based on the header size */
    overflow-y: auto;
}

/* Main */
#main{
    margin-top: 8rem;
    /* border: 1px solid black; */
}

#main .container{
    /* border: 1px solid black; */
}

/* Product */
#product {
    padding: 6rem;
    text-align: center;
}

#product h1{
    text-shadow: -3px 1px rgb(25 16 89 / 80%);
}

#product .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Prevent wrapping to new line */
    width: 100%;
    padding: .5rem;
    box-sizing: border-box; /* Ensure padding is included in total width */
}

#product .row .col-md-3 {
    width: 200px;
    padding: .5rem;
    margin-right: 4rem;
    border: 1px solid black;
    border-radius: 15%;
    background-color: rgba(0,0,0,.2);
    box-sizing: border-box;
    transition: .5s;
    text-align: center; /* 
    Ensure padding is included in total width */
}

#product .row .col-md-3  form a img{
    transition: .5s;
}

#product .row .col-md-3 img:hover{
    transform: scale(1.2);
    border-radius: 50%;
    margin-bottom: .8rem;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-link {
    color: #000;
    padding: 10px 15px;
    text-decoration: none;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .page-link:hover {
    background-color: #ddd;
  }
  
  .page-link.active {
    background-color: #28a745;
    color: #fff;
    border-color: #28a745;
  }

  .product-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  .product-link img, .product-link h4, .product-link p, .product-link button {
    pointer-events: none;
  }
  

/* content */
#content {
    background-color: rgb(25 29 111);
    width: 100%;
    color: white;
}

#content .container h1 {
    margin-top: -.4rem;
    width: 100%;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid black;
}

#content .container .row { 
    width: 100%;
}

#content .container .row .col-main {
    width: 10rem;
    margin-right: 25rem;
}

#content .container .row .col ul {
    text-decoration: none;
    list-style-type: none;
}

#content .container .row .col ul li a {
    margin-left: -2rem;
    text-decoration: none;
    color: red;
}

/* Footer */
.footer {
    margin-top: auto;
    background-color: black;
    padding: 10px 0;
    color: #fff;
}
  
.footer .container .row .col .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}
  
.footer .container .row .col .social-icons li {
    display: inline;
}
  