*{
    margin: 0; 
    padding: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
    text-decoration:none;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: 'Montserrat','Lato';
    font-size: 10pt;
}
/* Navbar */

/* Chart List */
#chart-list {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 300px;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

#chart-list.active {
    right: 0;
}

.chart-items {
    max-height: calc(100vh - 50px); /* Adjust based on the header size */
    overflow-y: auto;
}

/* Main */
#main{
    margin-top: 8rem;
}

/* Content */
#content{
    margin-bottom: 7rem;
}

#content .container nav{
    width: 40%;
}

#content .container nav ul li{
    display: inline;
    list-style-type: none;
    padding-right: .,5rem;
}

#content .container nav ul li a{
    padding-right: 2rem;
    text-decoration: none;
}

/* finish */
#finish-content{
width: 100%;    background-color: rgb(25 29 111);
    color: #fff;
}

#finish-content .container{
}

#finish-content .container  h2 {
    text-align: start;
    margin-bottom: 4rem;
    border-bottom: 1px solid black;

}

#finish-content .container .row {
    width: 100%;
}

#finish-content .container .row .col-main {
    width: 10rem;
    margin-right: 25rem;
}

#finish-content .container .row .col-md ul{
    list-style-type: none;
}

#finish-content .container .row .col-md ul li a{
    text-decoration: none;
    color: #fff;
    margin-left: -1.5rem;
}

/* Footer */
#footer{
    width: 100%;
    color: #fff;
    margin-top: auto;
    background-color: black;
    padding: 10px 0;
}

#footer .container{
    display: flex;
    justify-content: center;
}

#footer .container .copy-right {
    padding: 0;
    gap: 10px;
    margin-right: 2rem;
}

#footer .container .links a{
    color: #fff;
    text-decoration: none;
    margin-right: .5rem;
}